.loginForm {
    justify-content: center;
    min-height: calc(var(--vh, 1vh) * 90);
}

.buttonBlock {
    width: 100%;
}

.loginBackground {
    justify-content: center;
    min-height: 30vh;
    padding: 50px;
}