.mainGrid {
    flex-grow: 1; /* grow to fill 100% of available parent height */
    background-color: darkgrey;
}

.controlsContainerGrid {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.controlsGrid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center; /* center vertically */
}

.filtersGrid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mapGrid {
    background-color: brown;
    flex-grow: 1; /*grid should fill 100% of available space */
}

.leafletMap {
    flex-grow: 1; /*map should fill 100% of available space */
}
