.mainGrid {
    --bodyMargins: 8px;
    --mainHeight: calc(var(--vh, 1vh) * 100 - var(--bodyMargins) * 2);    
    min-height: var(--mainHeight);
    height: var(--mainHeight);
    max-height: var(--mainHeight);
    padding: 0.5rem 0.5rem; /* top & bott + right & left padding of 8px */
    background-color: grey;
}

.logoutBtn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}